:root {
  /* claret */
  --accent-color: #7f1734;
  /*jungle green */
  --accent-green: #177f62;
}
h1 {
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--accent-green);
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  border-bottom: 2px solid #aaa;
}
hr {
  border: none;
  border-top: 4px double var(--accent-color);
  color: var(--accent-green);
  overflow: visible;
  text-align: center;
  height: 5px;
  width: 80%;
}
br {
  height: 10px;
}
